@use "../../variables/components/buttons" as *;
@use "../../variables/components/inputs" as *;
@use "../../variables/components/titles" as *;

/*############################# (calender - التقويم) page Start ###########################*/
@mixin calender {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 20px;
    & .title {
        @include mainTitle;
    }

    & .links-cont {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 15px;
        & a {
            color: var(--primary-color);
            font-size: 20px;
            cursor: pointer;
            text-decoration: revert;
        }
        & h4:first-child a {
            pointer-events: none;
            text-decoration: none;
        }
        & span {
            font-variation-settings: "FILL" 1, "wght" 1000;
            color: var(--primary-color);
            font-size: 45px;
        }
    }

    & .cont {
        min-width: 275px;
        flex: 1 1;
        position: relative;
        & .text {
            display: flex;
            justify-content: space-between;
            color: var(--primary-color);
            margin-bottom: 30px;
            & h2:first-child {
                font-weight: 500;
            }
        }
        & h3 {
            margin-bottom: 10px;
            font-weight: 500;
        }
        & i {
            position: absolute;
            z-index: 2;
            left: 5px;
            bottom: 23px;
            & img {
                height: 40px;
                width: unset;
                min-width: unset;
            }
        }
        & input,
        select {
            @include inputs;
            width: 100%;
            height: 55px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            font-size: 17px;
            font-family: cairo;
            color: #0000008f;
        }
    }

    & > .cont {
        align-self: flex-start;
    }

    & .container {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        & img {
            width: 40vw;
            height: 100%;
            max-height: 370px;
            min-width: 340px;
        }

        & .right {
            // width: 48%;
            flex: 1 1;
        }
    }

    & .bottom-container {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;

        & .bottom {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            width: 100%;
            & .cont {
                min-width: 275px;
                // max-width: 47%;
                flex: 1 0 47%;
                position: relative;
                & .text {
                    display: flex;
                    justify-content: space-between;
                    color: var(--primary-color);
                    & h2:first-child {
                        font-weight: 500;
                    }
                }
                & h3 {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                & i {
                    position: absolute;
                    z-index: 2;
                    left: 5px;
                    bottom: 23px;
                    & img {
                        height: 40px;
                    }
                }
                & input,
                select {
                    @include inputs;
                    width: 100%;
                    height: 55px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
            }
        }
    }

    & .buttons {
        display: flex;
        gap: 20px;
        & a {
            @include button;
            display: flex;
            width: auto;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            padding: 25px;
            white-space: nowrap;
        }
    }
}
// /*### free-and-occupied-days Page ###*/ && /*### Add-an-academic-year Page ###*/ && /*### Event-reminder Page ###*/
/*### (Sending-a-Message - إرسال رسالة) page ###*/
.free-and-occupied-days .max-width,
.Add-specific-groups .max-width,
.Add-an-academic-year .max-width,
.Event-reminder .max-width,
.Sending-a-Message .max-width,
.Add-activities .max-width,
.Add-the-supervisory-plan .max-width,
.Performance-evaluation .max-width,
.Add-a-central-test-and-register-for-the-test .max-width,
.Add-a-meeting .max-width {
    @include calender;
    & .checkbox {
        display: flex;
        align-self: flex-start;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 30px;
        & label {
            color: var(--primary-color);
            font-size: 20px;
            font-weight: 500;
        }
        & input {
            margin-left: 10px;
            width: 25px;
            height: 25px;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 3px solid var(--primary-color);
            border-radius: 5px;
            &:checked {
                background-color: var(--primary-color);
            }
        }
    }
}
/*############################# special adjustment ###########################*/

/*########### (Messages and notifications - الرسائل والإشعارات) page Start #######################*/
/*### (Sending-a-Message - إرسال رسالة) page ###*/
.Sending-a-Message .max-width {
    & .textarea {
        width: 100%;
        & .bottom {
            & textarea {
                @include textarea;
                margin-top: 10px;
            }
        }
    }
}
/*########### (Messages and notifications - الرسائل والإشعارات) page End ########################*/

/*########### (central tests - الاختبارات المركزية) page Start #######################*/
/*### (Add-a-central-test-and-register-for-the-test - إضافة اختبار مركزي والتسجيل ف الاختبار) page ###*/
.Add-a-central-test-and-register-for-the-test .max-width {
    & .bottom-container {
        margin-bottom: 50px;
        & a:last-child {
            @include button;
            width: auto;
            padding: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--golden-color);
        }
    }
}
/*########### (central tests - الاختبارات المركزية) page Start #######################*/

/*########### (Educational Supervision - الإشراف التربوي) page Start #######################*/
/*### (Supervisor performance appraisal - تقييم أداء مشرف) page ###*/
.Performance-evaluation .max-width {
    & .cont:last-child {
        & a {
            text-decoration: none;
            color: var(--primary-color);
            font-size: 20px;
            font-weight: 600;
        }
    }
}
/*########### (Educational Supervision - الإشراف التربوي) page Start #######################*/

/*########### (Educational Supervision - الإشراف التربوي) page Start #######################*/
/*### (Supervisor performance appraisal - تقييم أداء مشرف) page ###*/
.Add-a-meeting .max-width {
    & .bottom-container {
        & .cont:not(:nth-child(3)) {
            & i {
                position: absolute;
                z-index: 2;
                left: 10px;
                bottom: 27px;
                & img {
                    height: 30px;
                    width: unset;
                    min-width: unset;
                }
            }
        }
        & .cont:last-child {
            display: flex;
            justify-content: space-around;
            align-items: center;
            & h3 {
                color: var(--primary-color);
                cursor: default;
            }
            & a {
                @include inputs;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                & img {
                    padding: 5px 25px;
                }
            }
        }
    }
}
/*########### (Educational Supervision - الإشراف التربوي) page Start #######################*/
