// ################################## header start ##############################
    @mixin header{
        
        background-color: var(--primary-color);
        padding: 15px;
        transition: 1s;
        & .max-width{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            position: relative;
            & .links_container{
                & .burgerIcon{
                    display: none;
                    & span {
                        display: block;
                        width: 35px;
                        height: 5px;
                        color: white;
                        background-color: white;
                        margin: 7px 0;
                        border-radius: 2px;
                    }
                }
                & ul{
                    display: flex;
                    list-style: none;
                    flex-direction: row-reverse;
                    & li{
                        position: relative;
                        & a{
                            text-decoration: none;
                            margin: 5px 10px;
                            font-size: 20px;
                            color: var(--white-color);
                            cursor: pointer;
                            font-family: system-ui;
                            position: relative;
                        }
                        &.active a:after{
                            content: '';
                            position: absolute;
                            background-color: white;
                            height: 12px;
                            width: 100%;
                            right: 0;
                            bottom: -30px;
                            border-top-right-radius: 10px;
                            border-top-left-radius: 10px;
                        }
                    }
                }
            }

            & .icons{
                display: flex;
                flex-direction: row-reverse;
                width: 23%;
                justify-content: space-between;
                & li{
                    position: relative;
                    list-style: none;
                    & a{
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        margin: 5px 10px;
                        font-size: 20px;
                        color: var(--white-color);
                        cursor: pointer;
                        font-family: system-ui;
                        position: relative;
                        pointer-events: none;
                    }
                    &.active a:after{
                        content: '';
                        position: absolute;
                        background-color: white;
                        height: 12px;
                        width: 100%;
                        right: 0;
                        bottom: -24px;
                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;
                        // left: 50%;
                        // top: 100%;
                        // transform: translate(-50%, -50%);
                    }
                }
                & img{
                    height: 35px;
                    color: white;
                }
                & .cart{
                    & li a span{
                        margin-left: unset;
                    }
                }
            }
        }



    }
// ################################## header End ##############################


// ################################## footer start ##############################
@mixin footer{
    height: 100px;
    background-color: #262626;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    & h2{
        font-weight: lighter;
    }
}
// ################################## footer End ##############################