// ################################## header start ##############################
    @mixin header{
        
        background-color: var(--primary-color);
        padding: 15px;
        & .max-width{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        & .icons{
            display: flex;
            flex-direction: row-reverse;
            width: 23%;
            justify-content: space-between;
            & .account{
                display: flex;
                cursor: pointer;
            }
            & span{
                cursor: pointer;
            }
            & .account h3{
                color:  var(--white-color);
            }
            & img{
                height: 35px;
                color: white;
            }
        }
        & .links_container ul{
            display: flex;
            list-style: none;
            flex-direction: row-reverse;
            & li{
                position: relative;
                & a{
                    text-decoration: none;
                    margin: 5px 10px;
                    font-size: 20px;
                    color: var(--white-color);
                    cursor: pointer;
                    font-family: system-ui;
                    position: relative;
                    &:hover{
                        color: var(--golden-color);
                    }
                }
                &.active a:after{
                    content: '';
                    position: absolute;
                    background-color: white;
                    height: 12px;
                    width: 100%;
                    right: 0;
                    bottom: -30px;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                }
            }
        }
    }
// ################################## header End ##############################


// ################################## footer start ##############################
@mixin footer{
    height: 100px;
    background-color: #262626;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    & h2{
        font-weight: lighter;
    }
}
// ################################## footer End ##############################