// ################################## header start ##############################
@mixin header {
    background-color: var(--primary-color);
    padding: 15px 0;
    & a,
    span {
        color: var(--NavBar-color) !important;
        display: flex;
        align-items: center;
    }
    & a:nth-child(1) {
        min-height: 53px;
    }

    & .max-width {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        align-items: center;
        width: 90%;
    }

    & .right {
        display: flex;
        gap: 30px;
        align-items: center;
        & .logo {
            & img {
                width: 9vw;
                height: 100%;
                min-width: 65px;
            }
        }
        & .links_container {
            display: flex;
            & ul {
                display: flex;
                list-style: none;
                flex-direction: row;
                gap: 15px 45px;
                & li {
                    position: relative;
                    & a {
                        text-decoration: none;
                        font-size: 20px;
                        color: var(--white-color);
                        cursor: pointer;
                        font-family: system-ui;
                        position: relative;
                        font-weight: bold;
                    }
                    &.active a:after {
                        content: "";
                        position: absolute;
                        background-color: white;
                        height: 12px;
                        width: 100%;
                        right: 0;
                        bottom: -20px;
                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;
                    }
                }
            }
            & .burgerIcon {
                display: none;
                cursor: pointer;
                & span {
                    display: block;
                    width: 35px;
                    height: 5px;
                    color: white;
                    background-color: white;
                    margin: 7px 0;
                    border-radius: 2px;
                }
            }
        }
    }

    & .icons {
        display: flex;
        flex-direction: row;
        column-gap: 35px;
        justify-content: space-between;
        & li {
            position: relative;
            list-style: none;
            & span.material-symbols-outlined {
                margin-left: 5px;
            }
            & a {
                display: flex;
                align-items: center;
                text-decoration: none;
                font-size: 20px;
                color: var(--white-color);
                cursor: pointer;
                font-family: system-ui;
                position: relative;
                flex-direction: row-reverse;
                // max-width: 152.375px;
                & i {
                    margin-left: 7px;
                }
            }
            &.active a:after {
                content: "";
                position: absolute;
                background-color: white;
                height: 16px;
                width: 100%;
                right: 0;
                bottom: -23px;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
        }
    }
}
// ################################## header End ##############################

// ################################## footer start ##############################
@mixin footer {
    height: 100px;
    background-color: #262626;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: auto;
    & p {
        font-weight: lighter;
        color: white !important;
        font-size: 21px;
    }
}
// ################################## footer End ##############################
