// ################################## header start ##############################
@mixin header {
    background-color: var(--primary-color);
    padding: 15px;
    // transition: 0.3s;
    & a,
    span {
        color: var(--NavBar-color) !important;
    }
    & .max-width {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        align-items: center;
    }
    & .links_container {
        display: flex;
        & .setting {
            position: absolute;
            bottom: -70px;
            z-index: 11;
            right: 93px;
            height: 35px;
            display: flex;
            gap: 20px;
            align-items: center;
            & span {
                height: 30px;
                position: unset;
                color: var(--NavBar-color);
            }
            & .box {
                display: none;
                background-color: var(--primary-color);
                padding: 10px;
                border-radius: 10px;
                &.open {
                    display: flex;
                }
                & span {
                    display: flex;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: red;
                    display: flex;
                    gap: 20px;
                    margin: 10px;
                    &:nth-child(2) {
                        background-color: green;
                    }
                    &:nth-child(3) {
                        background-color: aquamarine;
                    }
                }
            }
        }
        & ul {
            display: flex;
            list-style: none;
            // flex-direction: row-reverse;
            flex-direction: row;
            & li {
                position: relative;
                & a {
                    text-decoration: none;
                    margin: 5px 10px;
                    font-size: 20px;
                    color: var(--white-color);
                    cursor: pointer;
                    font-family: system-ui;
                    position: relative;
                }
                &.active a:after {
                    content: "";
                    position: absolute;
                    background-color: white;
                    height: 12px;
                    width: 100%;
                    right: 0;
                    bottom: -30px;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                }
            }
        }
        & .burgerIcon {
            display: none;
            & span {
                display: block;
                width: 35px;
                height: 5px;
                color: white;
                background-color: white;
                margin: 7px 0;
                border-radius: 2px;
            }
        }
    }

    & .icons {
        display: flex;
        flex-direction: row;
        column-gap: 35px;
        justify-content: space-between;
        & li {
            position: relative;
            list-style: none;
            & span.material-symbols-outlined {
                margin-left: 5px;
                height: 22px;
            }
            & .itemsInCart {
                background-color: red;
                font-size: 13px;
                border-radius: 50%;
                height: 20px;
                width: 20px;
                text-align: center;
                position: absolute;
                top: -8px;
                right: -10px;
            }
            & a {
                display: flex;
                align-items: center;
                text-decoration: none;
                margin: 5px 10px;
                font-size: 20px;
                color: var(--white-color);
                cursor: pointer;
                font-family: system-ui;
                position: relative;
                flex-direction: row-reverse;
            }
            &.active a:after {
                content: "";
                position: absolute;
                background-color: white;
                height: 12px;
                width: 100%;
                right: 0;
                bottom: -24px;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
        }

        & .cart {
            position: relative;
            & li {
                & .material-symbols-outlined {
                    margin-left: 5px;
                    height: 28px;
                }
                & span.items {
                    position: absolute;
                    top: -8px;
                    left: 25px;
                    background-color: red;
                    border-radius: 50%;
                    height: 20px;
                    padding: 7px;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 14px;
                    display: flex;
                }
            }
        }
    }
}
// ################################## header End ##############################

// ################################## footer start ##############################
@mixin footer {
    height: 100px;
    background-color: #262626;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    & h2 {
        font-weight: lighter;
        color: white !important;
    }
}
// ################################## footer End ##############################
