// not to style second page buttons
@mixin button {
    font-size: 20px;
    color: white;
    width: 50%;
    height: 55px;
    border: none;
    background-color: var(--primary-color) !important;
    border-radius: 10px;
    cursor: pointer;
}
