
@mixin inputs {
    border: 1px solid var(--primary-color);
    text-align: end;
    padding: 10px;
    // font-size: 17px;
    // font-weight: 700;
    // opacity: 0.7;
    border-radius: 15px;
    margin-bottom: 25px;
    position: relative;
    // height: 200px;
    &:focus-visible{
        border: 2px solid var(--golden-color);
        outline: none;
    }
    &::-webkit-input-placeholder {
    opacity: 0.6;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
    font-size: 17px; 
    font-weight: 700;
    }
}

@mixin textarea {
    height: 230px !important;
    width: 100%;
    resize: none;
}