
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html,
body {
    background-color: #fcfcfc;
    font-family: "Cairo", sans-serif;
}
:root {
    --primary-color: #07d8a6;
    --gray-color: #bc9a80;
    --white-color: white;
    --black-color: black;
    --title-color: black;
    --NavBar-color: white;
    --box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
    --box-shadowTwo: 0px 2px 6px #00000029;
}
h1,
h2,
h3,
h4,
p {
    color: var(--black-color) !important;
}
section {
    margin-bottom: 80px;
    min-height: 63vh;
}
.material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
    color: white;
    margin-left: 10px;
    font-size: 30px;
}
.max-width {
    width: 85%;
    margin: auto;
}
/*########################################## Header start ##########################################################*/
header {
    background-color: var(--primary-color);
    padding: 15px 0;
}
header a,
header span {
    color: var(--NavBar-color) !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
header a:nth-child(1) {
    min-height: 53px;
}
header .max-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
}
header .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
header .right .logo img {
    width: 9vw;
    height: 100%;
    min-width: 65px;
}
header .right .links_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
header .right .links_container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 15px 45px;
}
header .right .links_container ul li {
    position: relative;
}
header .right .links_container ul li a {
    text-decoration: none;
    font-size: 20px;
    color: var(--white-color);
    cursor: pointer;
    font-family: system-ui;
    position: relative;
    font-weight: bold;
}
header .right .links_container ul li.active a:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 12px;
    width: 100%;
    right: 0;
    bottom: -20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
header .right .links_container .burgerIcon {
    display: none;
}
header .right .links_container .burgerIcon span {
    display: block;
    width: 35px;
    height: 5px;
    color: white;
    background-color: white;
    margin: 7px 0;
    border-radius: 2px;
}
header .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
header .icons li {
    position: relative;
    list-style: none;
}
header .icons li span.material-symbols-outlined {
    margin-left: 5px;
    height: 22px;
}
header .icons li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: var(--white-color);
    cursor: pointer;
    font-family: system-ui;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    max-width: 152.375px;
}
header .icons li.active a:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 16px;
    width: 100%;
    right: 0;
    bottom: -23px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/*########################################## Header End ##########################################################*/

/*#################################### sixth Page start ##############################################*/
.call-us {
    & .max-width {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        & .title {
            @include mainTitle;
        }
        & .subTitle {
            @include subTitle;
        }
        & .mainBox {
            width: 65%;
            min-width: 400px;
            padding: 25px 50px;
            box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.4196078431);
            margin: 30px 0;
            border-radius: 15px;
            & form {
                display: flex;
                flex-direction: column;
                align-items: center;

                & input {
                    @include inputs;
                    height: 70px;
                    margin-bottom: 15px;
                    width: 100%;
                }
                & textarea {
                    @include inputs;
                    height: 230px !important;
                    width: 100%;
                    resize: none;
                    padding: 27px 10px;
                    &::-webkit-input-placeholder {
                        position: absolute;
                        right: 20px;
                        top: 25px;
                    }
                }
                & button {
                    @include button;
                }
            }
        }
        & .socialLinks {
            display: flex;
            padding: 20px;
            box-shadow: var(--box-shadow);
            margin-top: 35px;
            border-radius: 15px;
            & > a {
                background-color: var(--gray-color) !important;
                width: 60px;
                height: 60px;
                border-radius: 23px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0px 10px;
                & img {
                    height: 30px;
                }
            }
        }
    }
}
/*#################################### sixth Page end ##############################################*/@media screen and (max-width: 600px) {
    /* Styles for screens that are 600px wide or less */
    header .right .links_container ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-height: 400px !important;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    header .right .links_container ul li {
        position: relative;
        margin: 5px 0;
    }
    header .right .links_container ul li.active a:after {
        content: "";
        height: 15px;
        width: 15px;
        right: -29px;
        bottom: 4px;
        border-radius: 50%;
    }
    header .icons {
        gap: 10px;
    }
}