
@use 'variables/_mixins.scss' as *;
@use 'variables/components/buttons' as *;
@use 'variables/components/inputs' as *;
@use 'variables/components/titles' as *;
 
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html,
body{
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    background-color: #fcfcfc;
    font-family: 'Cairo', sans-serif;
    
}
:root {
    --primary-color: #24b151;
    --golden-color: #b78f02;
    --white-color: white;
    --Gray-color: #262626;
    --box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    color: white;
    margin-left: 10px;
    font-size: 30px;
}
.max-width{
    width: 85%;
    margin: auto;
}


/*########################################## Header start ##########################################################*/
header{
    @include header;
}
/*########################################## Header End ##########################################################*/ 


/*#################################### first Page Start ##############################################*/
.firstPage{
    & .mainPageImgs {
        margin-top: 30px;
        & .container{
            overflow: hidden;
            border-radius: 15px;
            & .img-cont{
                display: -webkit-box;
                animation: slide 20s infinite;
                & img{
                    width: 100%;
                    height: 71vh;
                    display: block;
                }
            }
        }
        & .bulults{
            list-style: none;
            display: flex;
            justify-content: center;
            margin-top: 20px;
            & li{
                height: 15px;
                width: 15px;
                background-color: #babfbc;
                margin: 10px;
                border-radius: 50%;
                &.active{
                    width: 50px;
                    border-radius: 10px;
                    background-color: var(--primary-color);
                }
            }
        }
    }
    @keyframes slide{
        0%{
            transform: translateX(0);
        }
        25%{
            transform: translateX(0);
        }
        30%{
            transform: translateX(-100%);
        }
        50%{
            transform: translateX(-100%);
        }
        55%{
            transform: translateX(-200%);
        }
        75%{
            transform: translateX(-200%);
        }
        80%{
            transform: translateX(-300%);
        }
        100%{
            transform: translateX(-300%);
        }
    }
    & .cards{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        & h1{
            font-size: 35px;
            color: var(--golden-color);
            margin-bottom: 50px;
        }
        & img{
            height: 50px;
        }
        & .cards-container{
            display: flex;
            justify-content: space-between;
            width: 100%;
            & .card{
                height: 300px;
                width: 265px;
                box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.5);
                border-radius: 15px;
                position: relative;
                & img:first-child{
                    width: 100%;
                    height: 55%;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
                & img:last-child{
                    position: absolute;
                    left: 50%;
                    top: 43%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    border: 10px solid white;
                    height: 160px;
                    width: 160px;
                }
                & h2{
                    display: flex;
                    justify-content: center;
                    margin-top: 60px;
                    color: var(--golden-color);
                }
            }
        }
    }
    & .data{
        display: flex;
        justify-content: center;
        margin-top: 80px;
        flex-direction: column;
        align-items: center;
        & h1{
            color: var(--golden-color);
            font-size: 30px;
        }
        & .container{
            display: flex;
            justify-content: space-around;
            width: 60%;
            margin-top: 60px;
            & .box{
                width: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                & span{
                    height: 125px;
                    width: 125px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    border-radius: 66%;
                    margin-top: 35px;
                    box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5);
                    position: relative;
                    & img{
                        position: absolute;
                        width: 180%;
                        left: 53%;
                        top: 55%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}
/*#################################### first Page End ##############################################*/


/*#################################### Second Page Start ##############################################*/
.secondPage{
    & .max-width{
        display: flex;
        flex-direction: column;
        align-items: center;
        & .title{
            @include mainTitle;
        }
        & .toggle-box{
            width: 80%;
            display: flex;
            background-color: white;
            border-radius: 10px;
            flex-direction: row-reverse;
            box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
            & .right , & .left{
                width: 50%;
                text-align: center;
                padding: 15px;
                cursor: pointer;
                transition: 0.3s;
                & h2 {
                    opacity: 0.4;
                }
                &.checked{
                    background-color: var(--primary-color);
                    & h2{
                        color: white;
                        opacity: 1;
                        font-weight: 400;
                    }
                }
            }
            & .right.checked{
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            & .left.checked{
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
    }
    & .packedges-cont,
    & .packedges-cont-second{

        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 50px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: column;
        flex-wrap: wrap;
        & .boxes-container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            align-items: center;
            flex-direction: row-reverse;
        }
        & .second-nested-section{
            margin-top: 50px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            & h1{
                margin-bottom: 30px;
                text-align: center;
            }
            & .nested-boxes-container{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
            & .main-box{
                margin: 15px 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                & .img-cont{
                    padding: 30px;
                    -webkit-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.5);
                    box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.5);
                    border-radius: 50%;
                    margin-bottom: -26px;
                    background-color: white;
                    z-index: 2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                & img{
                    height: 85px;
                    width: 85px;
                }
                & .text-cont{
                    padding: 31px 10px;
                    -webkit-box-shadow:0px 0px 10px -5px rgba(0, 0, 0, 0.5);
                    box-shadow:0px 0px 10px -5px rgba(0, 0, 0, 0.5);
                    border-radius: 36px;
                    & h3{
                        text-align: center;
                    }
                }
            }
        }
// ###################################### boxes #########################################
& .left-box, & .mid-box , & .right-box{
    width: calc(100% / 3.1);
    padding: 20px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 320px;
    max-width: 500px;
    text-align: end;
    & > h1{
        @include mainTitle;
        margin: unset;
        margin-bottom: 130px;
    }
    & .main-point{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        & .cont{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            margin: 8px 0;
        }
        & .cont span{
            height: 10px;
            width: 10px;
            background-color: var(--primary-color);
            display: inline;
            margin-left: 10px;
            border-radius: 50%;
        }
        & h4{
            font-weight: 500;
        }
    }
    & .price-cont{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 28% 100%);
        width: 85%;
        margin: 25px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        background-color: var(--primary-color);
        position: absolute;
        right: 0;
        top: 65px;
        padding: 20px;
        box-shadow: var(--box-shadow);
        & h1{
            color: white;
            font-weight: 500;
            display: flex;
            align-items: flex-end;
            &:last-child{
                margin-left: 5px;
            }
            & span{
                font-size: 25px;
            }
        }
        & h1:last-child{
            font-size: 30px;
        }
    }
    & .nested-point{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 35px;
        margin-top: 10px;
    & .cont{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin: 3px 0;
    }
    & .cont span{
        height: 10px;
        width: 10px;
        background-color: black;
        display: inline;
        margin-left: 10px;
        border-radius: 50%;
        margin-left: 7px;
    }
    & h4{
        font-weight: 400;
        font-family: system-ui;
    }
    }
    & button{
        border: none;
        background-color: transparent;
        border-radius: 15px;
        border: 3px solid var(--primary-color);
        padding: 15px 40px;
        font-size: 20px;
        font-family: system-ui;
        color: var(--primary-color);
        margin-top: 30px;
        cursor: pointer;
            &:hover{
                color: white;
                background-color: var(--primary-color);
            }
    }
}
    
    }
    & .packedges-cont{
        flex-direction: row-reverse !important;
        /* display: none !important; */
    }
    & .packedges-cont-second{
        display: none !important;
    }
}
/*######## Special for mid box ########*/
.secondPage .packedges-cont .mid-box,
.secondPage .packedges-cont-second .mid-box{
        background-color: var(--primary-color);
        & .main-point{
            color: white;
            & .cont span{
                background-color: white
            }
            & .cont h4 {
                text-align: end;
            }
        }
    & > h1{
        color: white;
    }
    & .nested-point h4{
        color: white;
    }
    & .nested-point span{
        background-color: var(--white-color) !important;
    }
    & .price-cont{
        background-color: white;
        &::after{
            background-color: var(--primary-color)
        }
        & h1{
            color: var(--golden-color);
        }
    }
    & button{
    border: 3px solid var(--white-color);
    color: white;
        &:hover{
            color: var(--primary-color);
            background-color: white;
            transition: 0.1s;
        }
    }
}
/*#################################### Second Page End ##############################################*/


/*#################################### Therd Page start ##############################################*/
.therdPage{
    &  .max-width{
        display: flex;
        flex-direction: column;
        align-items: center;
        & .title{
            @include mainTitle;
        }
        & .boxes-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            & > .box{
                width: 100%;
                & .main{
                    display: flex;
                    justify-content: flex-end;
                    padding: 15px;
                    box-shadow: 0px 2px 6px -2px #0000006b;
                    border: 1px solid #0000000a;
                    border-radius: 15px;
                    justify-content: space-between;
                    cursor: pointer;
                    width: 75%;
                    margin: auto;
                    align-items: center;
                }
                & .material-symbols-outlined{
                    font-variation-settings: "FILL" 1, "wght" 1000;
                    color: var(--primary-color);
                    font-size: 55px;
                }
                & .right{
                    display: flex;
                    align-items: center;
                    & .material-symbols-outlined{
                        font-size: 40px;
                        color: var(--golden-color);
                    }
                    h2{
                        font-weight: 500;
                    }
                }
                & .second-page{
                    display: none;
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 15px;
                    & .links-cont{
                        display: flex;
                        align-items: center;
                        flex-direction: row-reverse;
                        & a{
                            color: var(--primary-color);
                            font-size: 20px;
                            cursor: pointer;
                            text-decoration: revert;
                        }
                        & h4:first-child a{
                            pointer-events: none;
                            text-decoration: none;
                        }
                        & span{
                            font-size: 35px;
                        }
                    }
                    & .nested-poxes{
                        width: 80%;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        & .box{
                            padding: 40px 20px;
                            margin: 15px;
                            width: 270px;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            justify-content: center;
                            height: 330px;
                            box-shadow: var(--box-shadow);
                            border-radius: 20px;
                            cursor: pointer;
                            & img{
                                height: 140px
                            }
                            & h2{
                                font-weight: 500;
                                text-align: center;
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
            & > .box:not(:last-child){
                margin-bottom: 20px;
            }
        }
    }
}
/*#################################### Therd Page end ##############################################*/


/*#################################### fourth Page start ############################################*/
.fourthPage .max-width{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    & .title{
        @include mainTitle;
    }
    & h2{
        font-weight: 500;
        text-align: center;
        font-size: 1.5rem;
    }
    & .container{
        width: 100%;
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        & .right {
            width: 50%;
            & form{
                display: flex;
                flex-direction: column;
                width: 80%;
                align-items: center;
                margin: auto;
                & input{
                    @include inputs;
                    width: 100%;
                }
                & input:first-child{
                    height: 60px;
                }
                & textarea{
                    @include inputs;
                    height: 230px !important;
                    width: 100%;
                    resize: none;
                    padding: 27px 10px;
                    &::-webkit-input-placeholder {
                        position: absolute;
                        right: 20px;
                        top: 25px;
                    }
                }
                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
                }
                & button{
                    @include button
                }
            }
        }
    }
}
/*#################################### fourth Page end ##############################################*/


/*#################################### Fifth Page start ##############################################*/
.fifthPage .max-width{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    & .title{
        @include mainTitle;
    }
    & .boxes-cont{
        width: 60%;
        min-width: 390px;
        & .box{
            margin-bottom: 30px;
            box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4196078431);
            border-radius: 15px;
            &.checked{
                & .con{
                    &::after{
                        content: "";
                        position: absolute;
                        width: 80%;
                        height: 1px;
                        background-color: #4a4a4a5e;
                        left: 50%;
                        top: 100%;
                        transform: translate(-50%, -50%);
                    }
                    & .lift{
                        
                        & img{
                            transform: rotateZ(180deg)
                        }
                    }
                }
            }
            & .con{
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                padding: 20px;
                justify-content: space-between;
                cursor: pointer;
                position: relative;

                & .right{
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    & img{
                        height: 42px;
                    }
                    & h3{
                        margin-right: 20px
                    }
                }
                    & .lift{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        & img{
                            height: 50px;
                            transition: 1s;
                        }
                    }
            }
            & .opened {
                    // display: none; 
                    max-height: 0;
                    padding: 0 25px;
                    overflow: hidden;
                    text-align: end;
                    transition: 1s;
                    
            }

        }

    }
}
/*#################################### Fifth Page end ##############################################*/


/*#################################### sixth Page start ##############################################*/
.sixthPage{
    & .max-width{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        & .title{
            @include mainTitle;
        }
        & .subTitle{
            @include subTitle;
        }
        & .mainBox{
            width: 65%;
            min-width: 400px;
            padding: 25px 50px;
            box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.4196078431);
            margin: 30px 0;
            border-radius: 15px;
            & form{
                display: flex;
                flex-direction: column;
                align-items: center;

                & input{
                    @include inputs;
                    height: 70px;
                    margin-bottom: 15px;
                    width: 100%;

                }
                & textarea{
                    @include inputs;
                    height: 230px !important;
                    width: 100%;
                    resize: none;
                    padding: 27px 10px;
                    &::-webkit-input-placeholder {
                        position: absolute;
                        right: 20px;
                        top: 25px;
                    }
                }
                & button{
                    @include button;
                }
            }
        }
        & .socialLinks{
            display: flex;
            padding: 20px;
            box-shadow: var(--box-shadow);
            margin-top: 35px;
            border-radius: 15px;
            & > a{
                background-color: var(--golden-color);
                padding: 15px 18px;
                border-radius: 23px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0px 10px;
                & img{
                    height: 30px;
                }
            }
        }
    }
}
/*#################################### sixth Page end ##############################################*/


/*#################################### login Page start ##############################################*/
.loginPage .max-width{
    display: flex;
    flex-direction: column;
    align-items: center;
    & .title{
        @include mainTitle;
    }
    & .container{
        display: flex;
        width: 100%;
        justify-content: space-around;
        & .right-SignUp{
            display: none !important;
        }
        & .right, & .right-SignUp{
            width: 45%;
            display: flex;
            justify-content: center;
            // display: none ;
                & form{
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    & .cont{
                        position: relative;
                        & i {
                            position: absolute;
                            z-index: 2;
                            top: 12px;
                            right: 10px;
                            & img {
                                height: 30px;
                            }
                        }
                    }
                    & input{
                        @include inputs;
                        display: block;
                        width: 100%;
                        height: 55px;
                        position: relative;
                        padding-right: 45px;
                        font-size: 20px;
                    }
                    & > div{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        & a{
                            color: var(--primary-color);
                            font-size: 17px;
                        }
                        & > div{
                            display: flex;
                            align-items: center;
                            & label{
                                color: var(--primary-color);
                                font-size: 18px;                        
                            }
                            & input{
                                display: inline-block;
                                margin: 0;
                                margin-left: 15px;
                                width: 20px;
                                color: brown;
                                accent-color: var(--primary-color);
                            }
                        }
                    }
                    & button{
                        @include button;
                        margin: 20px 0;
                        color: #ffffffc7;
                    }
                }
                & h3{
                    font-weight: 500;
                    & a{
                        text-decoration: revert;
                        color: var(--primary-color);
                    }
                }
            // }
        }
    }
}
/*#################################### login Page End ##############################################*/


/*#################################### password Page Start ##############################################*/
.passwordRest .max-width{
    display: flex;
    flex-direction: column;
    align-items: center;
    & .title{
        @include mainTitle;
    }
    & .container{
        display: flex;
        width: 100%;
        justify-content: space-around;
        & .right{
            width: 45%;
            display: flex;
            justify-content: center;
            & form{
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                & h2{
                    font-size: 22px;
                    font-weight: 500;
                    text-align: end;
                    margin-bottom: 40px;
                }
                & .cont{
                    position: relative;
                    width: 100%;
                    & i {
                        position: absolute;
                        z-index: 2;
                        top: 12px;
                        right: 10px;
                        & img {
                            height: 30px;
                        }
                    }
                    & input{
                        @include inputs;
                        display: block;
                        width: 100%;
                        height: 55px;
                        position: relative;
                        padding-right: 45px;
                        font-size: 20px;
                    }
                }
                & button{
                    @include button;
                    margin: 20px 0;
                    color: #ffffffc7;
                    align-self: center
                }
            }
        }
    }
}
/*#################################### password Page End ##############################################*/


/*#################################### footer section Atart ############################################*/
footer{
    @include footer;
}
/*#################################### footer section End ##############################################*/


/*######################################## responsive style #############################################*/
@media screen and (max-width: 600px) {
    /* Styles for screens that are 600px wide or less */
    header .links_container ul {
        flex-direction: column;
        max-height: 285px !important;
        & li {
            position: relative;
            margin: 5px 0;
            &.active a:after {
                content: '';
                height: 15px;
                width: 15px;
                right: -29px;
                bottom: 4px;
                border-radius: 50%;
            }
        }
    }


    .firstPage .mainPageImgs img {
        height: 50vh !important;
    }

    .secondPage .max-width .packedges-cont,
    .secondPage .max-width .packedges-cont-second{
        & .left-box ,
        & .mid-box ,
        & .right-box {
            max-width: 350px;
            & .price-cont{
                min-width: 280px;
            }
        }
    }

    .therdPage .max-width .boxes-container > .box {
        .main{
            width: 100%;
            max-width: 450px;
            }
            & .second-page .nested-poxes {
                width: 100%;
                & > .box{
                    padding: 25px 10px;
                    margin: 15px;
                    max-width: 140px;
                    // max-height: 220px;
                    height: 260px;
                    & img{
                        height: 70px !important;
                    }
                    & h2{
                        font-size: 19px;
                    }
                }
            }
    }

    .fourthPage .max-width {
        & .container{
            & .lift img{
                height: clamp(280px , 250px , 200px);
                width: clamp(280px , 250px , 200px);
            }
            & .right{
                min-width: 340px;
                margin-left: auto; 
                display: flex;
                flex: 1 1;
                justify-content: center;
            }
        }
    }

    .fifthPage .max-width .boxes-cont {
        min-width: 360px;
        & .box .con{
            padding: 20px 10px;
            & .right {
                & img{
                    height: 38px;
                }
                & h3 {
                    font-size: 17px;
                }
            } 
            & .lift img{
                height: 44px;
            }
        }
    }

    .sixthPage .max-width {
        & .mainBox{
        width: 100%;
        padding: 25px;
        }
        & .socialLinks > a img {
            height: 25px;
        }
    } 
    
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    /* Styles for screens that are between 601px and 900px wide */
    header{
        & .links_container ul {
            flex-direction: column;
            max-height: 285px !important;
            & li {
                position: relative;
                margin: 5px 0;
                &.active a:after {
                    content: '';
                    height: 15px;
                    width: 15px;
                    right: -29px;
                    bottom: 4px;
                    border-radius: 50%;
                }
            }
        }
    } 
    .firstPage {
        & .mainPageImgs{
            & img{
                height: 50vh !important;
            }
        }
        & .cards .cards-container .card {
            margin: 10px;
            width: 230px;
            & img:last-child {
                position: absolute;
                left: 50%;
                top: 38%;
                border-radius: 50%;
                height: 150px;
                width: 150px;
            }
        }
    }

    .secondPage .max-width .packedges-cont,
    .secondPage .max-width .packedges-cont-second{
        & .left-box ,
        & .mid-box ,
        & .right-box {
            max-width: 450px;
        }
    }


    .fourthPage .max-width .container{
        & .lift img{
            height: clamp(280px , 250px , 200px);
            width: clamp(280px , 250px , 200px);
        }
        & .right{
            min-width: 460px;
            max-width: 560px;
            flex: 1;
            margin-top: 25px;
            & form {
                margin: auto;
            }
        }
    }


    .fifthPage .max-width .boxes-cont {
        width: 80%;
    }
    

}

@media screen and (max-width: 1150px){
    header .links_container{
        & ul {
            display: none; 
            border-bottom-left-radius: 10px; 
            border-bottom-right-radius: 10px; 
            position: absolute;
            right: -5px;
            top: 55px;
            background-color: var(--primary-color);
            z-index: 10;
            padding: 0;
            max-height: 0;
        }
        & .burgerIcon {
            display: block;
        }
    }

    .secondPage .fimax-widthve .packedges-cont,
    .secondPage .max-width .packedges-cont-second{
        flex-wrap: wrap;
        justify-content: center;
    }

    .secondPage .max-width .packedges-cont-second .boxes-container {
        flex-wrap: wrap;
        justify-content: center;
    }




    .therdPage .max-width .boxes-container > .box {
            & .second-page .nested-poxes {
                width: 100%;
                margin-top: 30px;
                & > .box{
                    width: clamp(220px , 210px ,180px);
                    height: auto;
                    & img{
                        height: 110px;
                    }
                }
            }

    }



}

@media screen and (max-width: 1350px) {
    header .icons{
        width: auto;
    }
    .firstPage {
        & .cards .cards-container {
            flex-wrap: wrap;
            justify-content: center;
            & .card{
                margin: 10px ;
            }
        }
        & .data .container{
            flex-wrap: wrap;
            width: 100%;
            & .box{
                margin: 40px 20px;
            }
        }
    }

    .secondPage .max-width .packedges-cont,
    .secondPage .max-width .packedges-cont-second{
        // flex-wrap: wrap;
        justify-content: center;
        & .left-box ,
        & .mid-box ,
        & .right-box {
            width: 30%;
            margin: 20px;
            flex: 1 1;
            & .price-cont{
                // width: 97%;
                min-width: 300px;
            }
        }
    }

}
