



/* .secondPage .max-width .toggle-box .right.checked {
    border-bottom-right-radius: 5px;
    border-start-end-radius: 5px;
}
.secondPage .max-width .toggle-box .left.checked{
    border-bottom-left-radius: 5px;
    border-start-start-radius: 5px;
} */
/* .firstPage{
    display: none;
}
.secondPage{
    display: none;
}
.secondPage .packedges-cont{
    flex-direction: row-reverse !important;
    display: none !important;
}
.secondPage .packedges-cont-second{
    display: none !important;
} */